html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: none;
}
.preWindow {
	width: 400px;
	height: 700px;
	background: #000;
	margin: 0 auto;
}


input {
	position: absolute;
	border: 0;
	border-bottom: 1px solid #fff;
	background: rgba(0,0,0,0);
	color: #EB743D;
		font-size: 20px;
	color: #fff;


}
#signUp{
	margin: 0 auto;
	width: 500px;
	position: relative;
	
}
input:focus {
        outline: none;
	background: rgba(0,0,0,0);
}

#email {
	top: 275px;
	left: 20%;

}
#name {
	top: 225px;
	left: 20%;

}


#password {
	top: 325px;
		left: 20%;

}
button {
	background: #EB743D;
	position: absolute;
		top: 375px;
	left: 48%;
			font-size: 20px;
	color: #fff;
	padding: 5px;

}
img {
	width: 100%;
}

#logInButton {
	left: 23%;
	background: rgba(255,255,255,1);
	color: #EB743D;

}

#scoreBorde {
	display: none;
	margin: 20px 50px;
	background: #b8d3ff;
	width: 300px;
	height: 300px;
	float: right;
}

#scoreBorde h1 {
	text-align: center;
}
#scoreBorde h3 {
	margin: 20px 10px;;
}
#scoreBorde h3 strong {
color:#B70003;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}


@media screen and (max-width: 1120px) {
	
#scoreBorde {
	float:none;
	margin: 700px auto;
	}
}